scipy
appnope
biopython
decorator
gnureadline
ipython
ipython-genutils
msgpack-python
networkx
numexpr
numpy
pandas
path.py
pexpect
pickleshare
ptyprocess
pyparsing
python-dateutil
pytz
simplegeneric
six
traitlets
wsgiref
simplejson
python-Levenshtein
sklearn
